:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

/* Hero */

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url(img/wedding-1361076_1920.jpg);
  background-size: cover;
  background-position: center;
  z-index: 7;

}

.hero h1, .hero h4, .hero p, .hero h5, .hero h2, .hero h3 {
  text-shadow: var(--shadow);
}

.hero h2 {
  padding-bottom: 2.5rem;
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400
}

.hero h1, .hero h2 {
  font-family: "Sacramento";
  font-size: 5rem;
  font-family: "Monsieur La Doulaise", cursive;
}

.hero h4, .hero h5 {
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1rem;
  font-weight: 400
}

.hero h3 {
    font-family: "Work Sans";
    font-weight: 400;
}

.hero h3 span {
    font-family: "Work Sans";
    font-weight: 400;
}

.hero p {
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1rem;
}

/* navBar */
.mynavbar {
  background-color: #3586ff;
  position: relative;
  z-index: 7;
  height: 100px;
  text-align: center;
  font-family: "Work Sans";
}

.mynavbar .navbar-brand {
  font-family: "Work Sans";
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: var(--shadow);
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
}

/* Home */
.home {
    background-image: url(img/symphony.png);
    min-height: 100vh;
    margin-top: -1rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    z-index: 1;
    position: relative;
}

.home h2 {
    color: #00aeff;
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    z-index: 2;
}

.home h4 {
    font-family: "Scheherazade New", serif;
    font-size: 2rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
    z-index: 2;
}

.home .couple {
    margin-top: 100px;
    z-index: 2;
}

.home .couple h3 {
    font-family: "Sacramento";
    font-weight: bold;
    color: #00aeff;
    font-size: 2.4rem;
    z-index: 2;
}

.home .couple img {
    width: 100%;
    z-index: 2;
}

/* info */
.info {
    background-image: url(img/symphony.png);
    z-index: 3;
    position: relative;
    min-height: 100vh;

}

.info a {
    background-color: #00aeff;
    color: rgb(0, 0, 0);
    font-family: "Work Sans", sans-serif;
    position: relative;
}

.info h2 {
    position: relative;
    font-family: "Sacramento";
    margin-top: 12rem;
    font-weight: bold;
    color: #00aeff;
    font-size: 5rem;
}

.info .alamat  {
    position: relative;
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.info .description {
    position: relative;
    font-size: 1rem;
    font-weight: 300;
}

/* komen */
.komen {
    background-image: url(img/symphony.png);
    min-height: 100vh;
    margin-top: -1rem;
    z-index: 1;
    position: relative;
}

.komen .card {
    width: 300px;
    margin: auto;
    margin-top: -60px;
    border: none;
    z-index: -3;
    position: relative;
  }

  .komen h1 {
    color: #00aeff;
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: bold;
    z-index: 2;
  }

/* Media Query */

/* laptop */
@media (max-width: 992px){
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section {
        padding: 70px;
    }
}

/* tablet */
@media (max-width: 768px) {    
    html {
        font-size: 65%;
    }
    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }     

    .simply-countdown .simply-section {
        font-size: large;
    }
    
    .info h2 {
        margin-top: 10rem;
    }

    .hero h5 {
        margin-bottom: 80px;
    }
    
    .hero h1 {
        font-size: 5rem;
    }
    
    
    .hero h4, .hero h5{
        font-size: 1.4rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
    }
    
    .hero p {
        font-size: 1.4rem;
        font-family: "Work Sans", sans-serif;
        margin-top: 80px;
    }
    
    .hero a {
        color: white;
        background-color: #00aeff;
        box-shadow: var(--shadow);
    }

    .rsvp button {
        width: 25%;margin-left: 37%;

    }

    .hero h1 {
        font-size: 9rem;
        margin-bottom: -2rem;
        margin-top: -2rem;
    }

    .hero h2 {
        font-size: 10rem;
        margin-bottom: 1rem;
    }

    .home .couple h3 {
        font-size: 260%;
    }

    .home .couple p {
        font-size: 1.3rem;
    }


}

/* mobile phone */
@media (max-width: 576px) {
    html {
    font-size: 60%;}
        
    .simply-countdown>.simply-section {
        padding: 45px;
        margin: 3px;   
    }

    .home h3 {
        margin-bottom: 7rem;
    }

    .home h4 {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    .home p, .info p, .rsvp p {
        font-size: 1.28rem;
    }

    .hero h4, .hero h5, .hero p, .hero h3{
        font-size:2.5rem;
    }

    .info a {
        font-size: 117%;

    }
}

/* iphone */
@media (min-width: 414px) {
    html{
        font-size: 48%;
    }

    .simply-countdown>.simply-section {
        padding: 20px;
        margin: 1px;   
    }

    .hero h1 {
        padding-right: 2rem;
    }



}
@media (min-width: 390px) {
    html{
        font-size: 46%;
        width: 100%;
        overflow-x: hidden;
    }

    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 1px;   
        margin-bottom: 2rem;
        margin-top: -2rem;
    }

    .hero a {
        font-size: 2rem;
    }
    
    .mynavbar1{
        width: 50vh;
    }

    .set2 {
        position: absolute; width: 100%; height: auto;
    }
    .set {
        position: absolute; width: 100%; height: auto;
    }

    .hero h4 {
        margin-top: -3rem;
    }

    .home .couple {
        margin-top: 73px;
    }

}
